<div class='page-group'>
    <!-- 地址管理页 -->
    <div class='page page-current' id='AddressPage'>
        <div class="content">
            <!-- 主信息 不可更改-->
            <form id="UserInfo-form">
                <div class="list-block">
                    <ul>
                        <!-- 昵称 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">昵称</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Your name" value="昵称" readonly>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 姓名 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">姓名</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 邮箱 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">邮箱</div>
                                    <div class="item-input">
                                        <input type="email" placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 电话 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">电话</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 默认地址 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">默认地址</div>
                                    <div class="item-input">
                                        <input readonly id="DefaltAddressShow" type="text" placeholder="默认地址" value="你还没有设置默认地址">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

            <!-- 地址列表信息 -->
            <div class="list-block contacts-block">
                <table id="AddressListTable">

                    <tr>
                        <td>
                            <table class="PW100 Bord1pxB MarginB035Rem">
                                <tr class="ValueStore">
                                    <td>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                </tr>
                                <tr class="ActiveAddress">
                                    <td colspan="3">地址1</td>
                                </tr>
                                <tr>
                                    <td class="MiddleText PW33 ChekBoxAddressTd">
                                        <div class="CheckBox FloatLeft CheckBoxActive"></div>
                                        <span class="FloatLeft">设为默认</span>
                                    </td>
                                    <td class="MiddleText PW33 DeleteAddressTd">
                                        <div>移除</div>
                                    </td>
                                    <td class="MiddleText PW33 EditAddressTd">
                                        <div>编辑</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table class="PW100 Bord1pxB MarginB035Rem">
                                <tr class="ValueStore">
                                    <td>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                </tr>
                                <tr class="ActiveAddress">
                                    <td colspan="3">地址2</td>
                                </tr>
                                <tr>
                                    <td class="MiddleText PW33 ChekBoxAddressTd">
                                        <div class="CheckBox FloatLeft "></div>
                                        <span class="FloatLeft">设为默认</span>
                                    </td>
                                    <td class="MiddleText PW33 DeleteAddressTd">
                                        <div>移除</div>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                    <td class="MiddleText PW33 EditAddressTd">
                                        <div>编辑</div>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table class="PW100 Bord1pxB MarginB035Rem">
                                <tr class="ActiveAddress">
                                    <td colspan="3">云南 昭通 昭阳区 乐居镇第一中学教师楼5楼502</td>
                                </tr>
                                <tr>
                                    <td class="MiddleText PW33 ChekBoxAddressTd">
                                        <div class="CheckBox FloatLeft "></div>
                                        <span class="FloatLeft">设为默认</span>
                                    </td>
                                    <td class="MiddleText PW33 DeleteAddressTd">
                                        <div>移除</div>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                    <td class="MiddleText PW33 EditAddressTd">
                                        <div>编辑</div>
                                        <input type="hidden" value="ID Value" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 工具栏 -->
        <nav class='bar bar-tab' id='AddressPage-footer'>
            <a class='tab-item active pull-left MyBack' id='AddressPage-Back'>
                <span class='icon icon-left'></span>
            </a>
            <a class='tab-item' id='AddAddress'>
                <span>新增地址</span>
            </a>
        </nav>
    </div>
    <!-- 新增地址页面 -->
    <div class="page" id="AddAddressPage">
        <div class="content">
            <form id="AddAddressPage-Form" action="~/Home/SaveUserAddressInfo" method="post">
                <div class="list-block">
                    <ul>
                        <!-- 联系人 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">联系人</div>
                                    <div class="item-input">
                                        <input type="text" id="LinkMan" name="LinkMan" placeholder="姓名" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 联系人电话 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">联系人电话</div>
                                    <div class="item-input">
                                        <input type="number" id="LinkManPhone" name="LinkManPhone" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 备用电话 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">备用电话</div>
                                    <div class="item-input">
                                        <input type="number" id="BackUpPhone" name="BackUpPhone" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 默认地址 省市区 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">省市区</div>
                                    <div class="item-input">
                                        <input type="text" id="Location" name="Location" value="">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 默认地址 详细地址 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">详细地址</div>
                                    <div class="item-input">
                                        <input type="text" id="DetailLocation" name="DetailLocation" placeholder="乡镇、街道..." required>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 邮政编码 -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">邮政编码</div>
                                    <div class="item-input">
                                        <input type="number" id="PostCode" name="PostCode" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <!-- 工具栏 -->
        <nav class='bar bar-tab' id="AddAddressPage-Footer">

            <a class='tab-item pull-left active MyBack' id='AddAddressPage-Back'>
                <span class='icon icon-left'></span>
            </a>
            <a class='tab-item' id='AddAddressPage-OK'>确认</a>
        </nav>
    </div>
</div>