@model WMS.Entities.Base.ErrorPageEntity

<div class='page-group'>

    <div class="page" id="ErrorPage">

        <div class="content">
            <br />
            <br />
            <br />
            <br />
            <p>
                系统异常，我们已经通知管理员！
            </p>
            <p>请稍后再试</p>
            <p>
                @if (Model.IsDebug)
                {
                    @Model.DebugTips
                }
            </p>
        </div>
        <!-- 工具栏 -->
        <nav class='bar bar-tab' id="ErrorPage-Footer">
            <a class='tab-item' id='ErrorPage-OK'>确认</a>
        </nav>
    </div>

</div>