<div class='page-group'>
    @*搜索页*@
    <div class='page' id='SearchPage'>
        <div class='content'>
            <div class='bar'>
                <div class='searchbar'>
                    <a class='searchbar-cancel'>重置</a>
                    <div class='search-input'>
                        <label class='icon icon-search' for='search'></label>
                        <input type='search' id='SearchPage-search' placeholder='输入关键字...' />
                    </div>
                </div>
                <div id='SearchPage-DoCancerBtnDiv'>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a class='button button-success'>搜索</a>
                                </td>
                                <td>
                                    <a class='button button-success MyBack'>返回</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id='SearchPage-tableDiv'>
                    <table id='SearchPage-table'>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>