@model WMS.Entities.ProductDetailPage.DetailPageEntity

@{
    Layout = null;
    var m = Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tm</title>
</head>
<body>
    <div>
        @Model.ProductName
    </div>
</body>
</html>
